{% extends './common/publicPageTemplate.html' %}

{% block content %}
<div class="row">
  <div class="col-md-8">

    <p>These are public recipes.  Click on a recipe to view it. To manage your recipes click "Sign-In" in the navigation bar.</p>
  </div>
  <div class="col-md-4">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon">
          <a class="fa fa-search"></a>
        </span>
      </div>
      <input type="search" class="form-control" name="search" placeholder="Search for a recipe" />
    </div>
  </div>
</div>
<div class="recipeBox">

  {% for publicRecipe in publicRecipeCard %}
  
  <a class="recipeCard" id="recipe" href="{{url_for('viewRecipe', recipeID=publicRecipe[0] )}}" style='background-image: url({{publicRecipe[2]}});'>
    <span class="recipeText">{{ publicRecipe[1] }}</span>
  </a>
  {% endfor %}
</div>
{% endblock %}