{% extends './common/viewRecipeTemplate.html' %}

{% block content %}
<div class="row">
  <div class="col-md-8">

    <p>Click on a recipe to view it. Add a recipe by navigating to "Add Recipe" in the navigation bar.</p>
  </div>
  <div class="col-md-4">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon">
          <a class="fa fa-search"></a>
        </span>
      </div>
      <input type="search" class="form-control" name="search" placeholder="Search for a recipe" />
    </div>
  </div>
</div>
<div class="recipeBox">

  {% for publicRecipe in publicRecipeCard %}
  
  <a class="publicRecipeCard" id="recipe" href="{{url_for('viewRecipe', recipeID=publicRecipe[0] )}}">
    <span class="recipeText">{{ publicRecipe[1] }}</span>
  </a>
  {% endfor %}
</div>
{% endblock %}