<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <link href="../static/styles/styles.css" rel="stylesheet" />

 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

</head>

<body>


<!-- navbar green -->
<div>
    <nav class="navbar navbar-ct-green" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a href='' class="fa fa-cutlery fa-4x"></a>
          <h3 class="white-text">
           Recipe Name
           </h3>
  
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/yourRecipes">
                        <i class="fa fa-th"></i>
                        <p>Recipes</p>
                    </a>
                </li>
                <li>
                    <a href="/addRecipe">
                        <i class="fa fa-plus-circle">

                        </i>
                        <p>Add Recipe</p>
                    </a>
                </li> 
                <li>
                      <a href="/account">
                            <i class="fa fa-user"></i>
                            <p>Account</p>
                       </a>
                </li>
           </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

</div><!--  end navbar -->
<div class="content">
        <a class="btn white-text" type="submit" style="float:right" href="/editRecipe">Edit Recipe</a>
        <br><br>

        <div class="col-md-6 padding">
    <p>
    Recipe Description
    </p>
    <div class="recipeCard" href="">Recipe Image</div>
    
    <p>
        Methods:
        <br>
        1.<br>
        2.<br>
        3.<br>
        4.<br>
    </p>
</div>    
<div class="col-md-3">
    <p>Ingredients</p>
  </div>
    </div>
   

</body>


</html>