{% extends './common/loginRegisterTemplate.html' %}

{% block content %}
<div class="mb-3">
    <h3 class="black-text">Sign Up </h3>
    <form action="{{ url_for('signup') }}" method="post" >
    <label class="black-text">Full Name</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon">
          <a class="fa fa-user"></a>
        </span>
      </div>
      <input type="fullName" class="form-control" name="fullName" placeholder="Type in your full name" required />
    </div>

    <label class="black-text">Email</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon">
          <a class="fa fa-envelope"></a>
        </span>
      </div>
      <input type="email" class="form-control" name="email" placeholder="Type in your email" required />
    </div>
  </div>

  <div class="mb-3">
    <label class="black-text"> Password</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon">
          <a class="fa fa-lock"></a>
        </span>
      </div>
      <input type="password" class="form-control" name="password" placeholder="Type in your password" required />
    </div>
  </div>
  <input type="submit" class="btn white-text" value="Sign Up">
                <br>
                <a class type="submit" href="/">Already have an account?  Sign in.</a>
</form>
</div>

	
{% endblock %}
