{% extends './common/pageTemplate.html' %}
{% block content %}
    <div>
        {% if isMine %}
        <a class="btn" type="submit" style="float:right" data-toggle="tooltip" data-placement="bottom"
            title="Edit Recipe" href="{{url_for('editRecipe', recipeID=recipeID )}}">Edit Recipe</a>
        <br><br><br>
        {% endif %}
        <form method='POST' id="inGroceryList" action="{{formAction}}">
            <div class="custom-control custom-switch" style="float:right">
                <input type="checkbox" class="custom-control-input" id="customSwitches" name="inGroceries"
                    {{inGroceries}} onchange="javascript:document.getElementById('inGroceryList').submit()">
                <label class="custom-control-label" for="customSwitches">In Grocery List</label>
            </div>
        </form>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-6 padding">
            <h5><span class="badge badge-pill badge-secondary">{{recipeTag}}</span></h5>
            <h5>
                Recipe Description
            </h5>
            <p>
                {{recipeDescription}}
            </p>

            <h5>
                Preparation Time
            </h5>
            <p>
                {{preparationTime}}
            </p>

            <h5>
                Yield
            </h5>
            <p>
                {{recipeYield}}
            </p>
            <h5 class="recipe-card-unclickable" style='background-image: url({{recipeImage}});'></h5>

            <h5>
                Methods:
            </h5>
            <p>
                {{recipeMethods|safe}}
            </p>
        </div>
        <div class="col-md-6">
            <h5>Ingredients</h5>
            {% for ingredient in ingredientInfo %}
            {{ingredient[1]}} {{ingredient[2]}} {{ingredient[0]}}
            <br>
            {% endfor %}
            <p></p>
        </div>
    </div>
{% endblock %}