{% extends './common/recipeBasicNavTemplate.html' %}

{% block content %}

  <h3 class="black-text">
   Your Recipes
  </h3>

  <p>Click on a recipe to view it.</p>

  <div class="recipeBox">
  <a class="recipeCard" href="/recipe">Recipe</a>

  <a class="recipeCard" href="/recipe">Recipe</a>

  <a class="recipeCard" href="/recipe">Recipe</a>

  <a class="recipeCard" href="/recipe">Recipe</a>

  <a class="recipeCard" href="/recipe">Recipe</a>

  <a class="recipeCard" href="/recipe">Recipe</a>

  <a class="recipeCard" href="/recipe">Recipe</a>
  <a class="recipeCard" href="/recipe">Recipe</a>

  <a class="recipeCard" href="/recipe">Recipe</a>
</div>
{% endblock %}