<br>

<form method="post">
<label for="file-upload" class="fileUpload">
        <i class="fa fa-upload"></i> UPLOAD A RECIPE IMAGE
    </label>
    <input id="file-upload" type="file"/>
    <br>
<label>Recipe Description</label>
<input type="text" class="form-control" placeholder="Type in your recipe description" value="{{recipeDescription}}" required />
<label>Preparation Time</label>
<input type="text" class="form-control" placeholder="Type in the preparation time for your recipe" value="{{preparationTime}}" />
<label>Yield</label>
<input type="text" class="form-control" placeholder="Type in how many people this recipe is good for" value="{{recipeYield}}"/>
<label>Methods</label>
<textarea class="form-control" rows="13" cols="60" placeholder="Please enter your recipe methods/steps here..." >{{recipeMethods}}</textarea>
<label>Ingredients</label>
</form>