<!--Edit/Add Recipe Template-->
<div class="row">

    <div class="col-md-7 padding">

        <input id="deleteRecipe" name="deleteRecipe" value="0" hidden />

        <span class="required"></span>
        <span>=Required Field</span>
        <br>
        {% if validationMessage != "" %}
        <div class="validation-msg">{{ validationMessage }}</div>
        {% endif %}

        <label for="file-upload" class="fileUpload">Upload a Recipe Image</label><br>
        <i class="fa fa-upload"></i>

        <input type="hidden" name="recipeImageUrl" value="{{recipeImageUrl}}">
        <input id="recipeImage" type="file" name="recipeImage" />
        <br>
        <label>Recipe Description</label>
        <input type="text" class="form-control" name="recipeDescription" placeholder="Type in your recipe description"
            value="{{recipeDescription}}" required />

        <label>Preparation Time</label>
        <input type="text" class="form-control" name="preparationTime"
            placeholder="Type in the preparation time for your recipe" value="{{preparationTime}}" />
        <label>Recipe Tag (Ex. Lunch, Dinner, Breakfast)</label>
        <input type="text" class="form-control" name="recipeTag" placeholder="Enter in a tag for your recipe"
            value="{{recipeTag}}" />
        <label>Yield</label>
        <input type="text" class="form-control" name="recipeYield"
            placeholder="Type in how much this recipe makes (ex. 2 dozen cookies)" value="{{recipeYield}}" />

        <label class="required">Methods</label>
        <textarea class="form-control" name="recipeMethods" rows="13" cols="60"
            placeholder="Please enter your recipe methods/steps here...">{{recipeMethods}}</textarea>
    </div>

    <div class="col-md-5">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitches" name="recipePermission"
                {{recipePermission}}>
            <label class="custom-control-label" for="customSwitches">Make Recipe Public</label>
        </div>
        <label class="required">Ingredients</label>
        <br>

        {% for ingredient in ingredientInfo %}
        <div id="ingredientBox">
            <div id="ingredients" class="ingredients">
                <label>Ingredient Amount</label>
                <input type="text" class="form-control" name="ingredientAmount" id="ingredientAmount"
                    placeholder="Type in an ingredient amount" value="{{ingredient[1]}}" />
                <label>Ingredient Unit</label><br>
                <select class="selectpicker" data-live-search="true" name="ingredientUnit" id="ingredientUnit">
                    <option data-tokens="none" value="" {% if ingredient[2] == '' %} selected {% endif %}>
                    </option>></option>
                    <option data-tokens="teaspoon" value="teaspoon" {% if ingredient[2] == 'teaspoon' %} selected
                        {% endif %}>Teaspoon</option>
                    <option data-tokens="tablespoon" value="tablespoon" {% if ingredient[2] == 'tablespoon' %} selected
                        {% endif %}>Tablespoon</option>
                    <option data-tokens="fluidOunce" value="fluidOunce" {% if ingredient[2] == 'fluidOunce' %} selected
                        {% endif %}>Fluid Ounce</option>
                    <option data-tokens="cup" value="cup" {% if ingredient[2] == 'cup' %} selected {% endif %}>Cup
                    </option>
                    <option data-tokens="pint" value="pint" {% if ingredient[2] == 'pint' %} selected {% endif %}>Pint
                    </option>
                    <option data-tokens="quart" value="quart" {% if ingredient[2] == 'quart' %} selected {% endif %}>
                        Quart</option>
                    <option data-tokens="gallon" value="gallon" {% if ingredient[2] == 'gallon' %} selected {% endif %}>
                        Gallon</option>
                    <option data-tokens="pound" value="pound" {% if ingredient[2] == 'pound' %} selected {% endif %}>
                        Pound</option>
                    <option data-tokens="ounce" value="ounce" {% if ingredient[2] == 'ounce' %} selected {% endif %}>
                        Ounce</option>
                </select>

                <br>

                <label>Ingredient Name</label>
                <input type="text" class="form-control" name="ingredientName" placeholder="Type in an ingredient name"
                    id="ingredientName" value="{{ingredient[0]}}" />
                <a onclick="javascript: var el = this.parentNode; el.parentNode.removeChild(el); return false;">Remove</a>
            </div>
        </div>
        {% endfor %}
        <a class="btn white-text" type="submit" style="float:right"
            onclick="javascript: duplicateIngredients();return false;" href="">Add Ingredient</a>
    </div>
</div>