{% block modal %}
<!--Help Modal Template-->

<!-- Button to Open the Modal -->
<a type="button" class="circular-help-btn white-text fa fa-question fa-2x" data-toggle="modal" data-target="#helpModal"
  href=""></a>

<!-- Modal -->
<div class="modal fade" id="helpModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Help</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <strong>How do I create a recipe?</strong>
        <p>Click "Add Recipe" in the navigation bar.</p>
        <strong>How do I view all my recipes?</strong><br>
        <p>Click "Recipes" in the navigation bar or the fork and knife icon in the top left corner of the screen.</p>

        <strong>How do I search for a recipe?</strong>
        <p>Click "Recipes" in the navigation bar or the fork and knife icon in the top left corner.  On the top right corner below the navbar you will see a search box.  Type in what you want to search and hit enter.  To clear a search clear the search box and hit enter.  </p>

        <strong> How do I view/edit a recipe?</strong><br>
        <p>Click "Recipes" in the navigation bar.  Search for a recipe or scroll through to find the recipe you're looking for and click on the recipe you want to view.  Make sure the recipe is yours in order to edit it.  Click on the "Edit Recipe" button on the view screen. </p>

        <strong>How do I delete a recipe?</strong><br>
        <p>Follow the steps above in the directions for "viewing and editing a recipe".  Once you get to the edit screen you will have the ability to delete a recipe by clicking the trash can button.  </p>
      
        <strong>How do I add ingredients from a recipe to a grocery list?</strong><br>

        
        

        <strong>How do I update my name and email?</strong><br>

      </div>

    </div>
  </div>
</div>
{% endblock %}