<!--Navbar Template-->
<nav class="navbar navbar-green-blue" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a href='yourRecipes' class="fa fa-cutlery fa-3x"></a>
      {% block title %}{% endblock %}
    </div>

    <!--Navbar -->
    <div class="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/yourRecipes">
            <i class="fa fa-th"></i>
            <p class="white-text">Recipes</p>
          </a>
        </li>
        <li>
          <a href="/addRecipe">
            <i class="fa fa-plus-circle">

            </i>
            <p class="white-text">Add Recipe</p>
          </a>
        </li>
        <li>
          <a href="/groceries">
            <i class="fa fa-shopping-bag"></i>
            <p class="white-text">Groceries</p>
          </a>
        </li>
        <li>
          <a href="/profile">
            <i class="fa fa-user"></i>
            <p class="white-text">Profile</p>
          </a>
        </li>
        <div style="width:3rem; border-right:1px solid white;"></div>
        <li>
          <a href="/logout">
            <i class="fa fa-power-off"></i>
            <p class="white-text">Logout</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>