<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
  <link href="../static/styles/styles.css" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <title>Zesty</title>
</head>


<div>
  <nav class="navbar navbar-ct-green" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a href='/yourRecipes' class="fa fa-cutlery fa-4x"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/yourRecipes">
              <i class="fa fa-th fa-2x"></i>
              <p>Recipes</p>
            </a>
          </li>
          <li>
            <a href="/addRecipe">
              <i class="fa fa-plus-circle fa-2x"></i>
              <p>Add Recipe</p>
            </a>
          </li>
          <li>
            <a href="/groceries">
              <i class="fa fa-shopping-bag fa-2x"></i>
              <p>Groceries</p>
            </a>
          </li>
          <li>
            <a href="/profile">
              <i class="fa fa-user fa-2x"></i>
              <p>Profile</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</div>

<body>
  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>

</html>