<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link href="../static/styles/styles.css" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <title>Zesty</title>

</head>

<body>
  <script>
    function deleteConfirm() {
      confirm("Are you sure you want to delete the recipe {{recipeName}}?");
    }
    </script>

  <form method='POST' id="addEditRecipeForm" action="{{formAction}}" enctype="multipart/form-data">
    <div>
      {% include './common/navbarTemplate.html' %}
      {% block title %}
      <input type="text" class="recipeName" name="recipeName" placeholder="Type in a recipe name here..."
        value="{{recipeName}}">
      {% endblock %}
    </div>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
    <a class="circular-help-btn white-text fa fa-question fa-2x" type="submit" style="float:right;margin-right:1rem;"
      data-toggle="tooltip" data-placement="bottom" title="Help"
      href="{{url_for('editRecipe', recipeID=recipeID )}}"></a>

  </form>
</body>

</html>