<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="google" content="notranslate" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <link href="../static/styles/styles.css" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <title>Zesty</title>


</head>

<body>
  <div>
    {% include './common/navbarTemplate.html' %}
    {% block title %}
    <input type="text" class="recipeName uneditable" placeholder="Type in a recipe name here..." value="{{recipeName}}">
    {% endblock %}
  </div><!--  end navbar -->
  <div class="content">
    {% block content %}{% endblock %}
  </div>
  <a class="circular-help-btn white-text fa fa-question fa-2x" type="submit" style="float:right;margin-right:1rem;"
    data-toggle="tooltip" data-placement="bottom" title="Help" href="{{url_for('editRecipe', recipeID=recipeID )}}"></a>
</body>


</html>