<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/styles/styles.css" />
</head>

<body>
<div class="row blue-purple-gradient">

  <div>
    <h1 class="logintitle"> <a class="fa fa-cutlery fa-2x"></a>Recipe App</h1>
  </div>
</div>


<div class="col-md-6 padding">
  <form onSubmit={this.submitHandler}>
    <div class="mb-3">
      <h4 class="black-text">Sign Up </h4>

    <br>
      <label class="black-text">Full Name</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon">
            <a class="fa fa-user"></a>
          </span>
        </div>
        <input type="name" class="form-control" name="email" placeholder="Type in your name" required />
      </div>

      <br>
      <label class="black-text">Email</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon">
            <a class="fa fa-envelope"></a>
          </span>
        </div>
        <input type="email" class="form-control" name="email" placeholder="Type in your email" required />
      </div>
    </div>
    <br>
    <div class="mb-3">
      <label class="black-text"> Password</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon">
            <a class="fa fa-lock"></a>
          </span>
        </div>
        <input type="password" class="form-control" name="password" placeholder="Type in your password" required />
      </div>
    </div>
    <br>

    <a class="btn white-text" type="submit" href="/yourRecipes">Sign Up</a>
    <br>
    <a class type="submit" href="/">Already have an account?  Sign in.</a>


  </form>
</div>
</body>
</html>