
body {
  background-color:#EBF3F6;
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

p {
  margin: 0 0 10px;
}

.white-text{
  color:white;
}


/*Button Styles*/
.btn {
  background: linear-gradient(45deg, rgb(0, 188, 174), rgb(0, 143, 173));
  border-radius: 0.3rem;
  padding:0.7rem;
  color:white;
  justify-content:center;
  text-transform:uppercase;
  text-align:center;
  height:3rem;
  min-width:9rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
}

.btn:hover {
  color: white;
  box-shadow: 0rem 0.125rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.16), 0rem 0.125rem 0.625rem 0rem rgba(0, 0, 0, 0.12);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.icon-btn {
  background: linear-gradient(45deg, #dc3545, rgb(255, 150, 145));
  margin-right:1rem;
  border-radius: 0.3rem;
  padding:0.7rem;
  color:white;
  justify-content:center;
  text-transform:uppercase;
  text-align:center;
  width:3rem;
  height:3rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left:1rem;
}

.help-btn {
  background: linear-gradient(45deg, rgb(0, 188, 174), rgb(0, 143, 173));
  position:fixed;
  width:60px;
  height:60px;
  bottom:60px;
  right:50px;
  justify-content:center;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
}

/* Page Styles */
.page-name{
  border-color:transparent; 
  background-color:rgb(50, 197, 188);
  font-size:1.5rem;
  width:25rem;
  height:3.5rem;
  color:white;
  align-items:center;
  position:absolute;
  top:0.8rem;
  left:6rem;
  }

.page-name.uneditable{
  background-color:transparent;
  }

.page-name::placeholder{
  color:white;
}

.page-name:focus{
  border-color:white;
  border:0.0625rem solid;
}

.content{
  margin:1rem 2rem;
  padding: 2rem;
  border-radius: 5rem;
  background-color:white;
  min-height:30rem;
}

.validation-msg {
  padding: 8px 35px 8px 30px;
  color: #B94A48;
  background-color: #F2DEDE;
  border: 2px solid #EED3D7;
  border-radius: 4px;
  text-shadow: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}

/* Icon styles */
.fa{
color:white;
padding:0.2rem;
}

.fa:hover{
  text-decoration:none;
  color:white;
}

.fa.fa-question{
  padding-top:0.8rem;
}

.fa.fa-cutlery{
  padding-right:1rem;
}

.fa.fa-trash{
  padding:0.5rem;
}

/* Form Input */
.form-control{
border-radius:2rem;
font-size:1rem;
}

label{
  font-size:1rem;
  line-height:1.5rem;
  font-weight:bold;
}

.input-group-text{
  border-radius:5rem;
  background-color:white;
  line-height: 3rem;
  padding:0rem 0.75rem;
}

.required:after {
  content: "*";
  color: rgb(191, 0, 0);
}

.custom-control-input:checked~.custom-control-label::before{
  background-color: rgb(0, 188, 174);
  border-color: rgb(0, 188, 174);
}

textarea{
  border-radius:1rem;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
  resize:none;
}

/* Signin/Signup Screen Styles */
.green-blue-gradient {
  background: linear-gradient(45deg, rgb(0, 188, 174), rgb(0, 143, 173));
  padding:1.7rem;
}

.signin-title{
  padding-top:3.125rem;
  margin-right: auto;
  margin-left: auto;
  text-align:center;
  vertical-align:middle;
  font-family: 'Spirax', cursive;
  color:white;
  }

  .signin-padding{
    padding-top: 0.5rem;
    padding-left:5rem;
    margin-right: auto;
    margin-left: auto;
  }
  
  /*Edit/Add Screen Styles */
  .ingredients{
  border:#ccc 0.1rem solid; 
  padding:1rem; 
  border-radius:3rem; 
  margin-bottom:1rem;
  }

/* Your Recipes Screen Styles*/
.recipeBox{
  margin-top:2rem;
}

.recipeCard{
  background-color: #C4C4C4;
  color: white;
  padding: 6rem;
  text-decoration: none;
  display: inline-block;
  margin-bottom:1rem;
  margin-right:1rem;
  min-width:22rem;
  min-height: 10rem;
  text-align:center;
  border-radius:1rem 5rem;
  background-size: 400px;
  z-index:1;
}

.recipeCard:hover {
  color: white;
  box-shadow: 0rem 0.125rem 5px 0.3125rem rgba(0, 0, 0, 0.16), 0rem 0.125rem 0.625rem 0rem rgba(0, 0, 0, 0.12);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.recipeText {
  position: inherit;
  background: linear-gradient(45deg, rgba(0, 188, 174, 0.75), rgb(0, 143, 173, 0.75));
  color: white;
  z-index:4;
  margin-top:6rem;
  padding:0.7rem;
}

 /* Grocery List Screen Styles */
 .grocery{
  display:block;
  position:relative;
  padding-left:35px;
  -webkit-box-shadow:0 2px 0 -1px #ebebeb;
  -moz-box-shadow:0 2px 0 -1px #ebebeb;
  box-shadow:0 2px 0 -1px #ebebeb;
  }
  .grocery:last-of-type{
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  }

  input[type="checkbox"]{
  position:absolute;
  height:0;
  width:0;
  opacity:0;
  top:-600px;
  }
  .grocery-item{
  display:inline-block;
  font-weight:200;
  padding:10px 5px;
  height:37px;
  position:relative;
  }
  .grocery-item:before{
  content:'';
  display:block;
  position:absolute;
  top:calc(50% + 2px);
  left:0;
  width:0%;
  height:1px;
  background:rgb(191, 0, 0);
  -webkit-transition:.25s ease-in-out;
  -moz-transition:.25s ease-in-out;
  -o-transition:.25s ease-in-out;
  transition:.25s ease-in-out;
  }
  .grocery-item:after{
  content:'';
  display:block;
  position:absolute;
  z-index:0;
  height:18px;
  width:18px;
  top:9px;
  left:-25px;
  -webkit-box-shadow:inset 0 0 0 2px #d8d8d8;
  -moz-box-shadow:inset 0 0 0 2px #d8d8d8;
  box-shadow:inset 0 0 0 2px #d8d8d8;
  -webkit-transition:.25s ease-in-out;
  -moz-transition:.25s ease-in-out;
  -o-transition:.25s ease-in-out;
  transition:.25s ease-in-out;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  }
  .grocery-item:hover:after{
  -webkit-box-shadow:inset 0 0 0 2px #949494;
  -moz-box-shadow:inset 0 0 0 2px #949494;
  box-shadow:inset 0 0 0 2px #949494;
  }
  .grocery-item .fa-check{
  position:absolute;
  z-index:1;
  left:-31px;
  top:0;
  font-size:1px;
  line-height:36px;
  width:33px;
  height:36px;
  text-align:center;
  color:transparent;
  text-shadow:1px 1px 0 white, -1px -1px 0 white;
  }
  :checked + .grocer-item{
  color:#717171;
  }
  :checked + .grocery-item:before{
  width:100%;
  }
  :checked + .grocery-item:after{
  /*box-shadow*/
  -webkit-box-shadow:inset 0 0 0 2px rgb(0, 188, 174);
     -moz-box-shadow:inset 0 0 0 2px rgb(0, 188, 174);
          box-shadow:inset 0 0 0 2px rgb(0, 188, 174);
  }
  :checked + .grocery-item .fa-check{
  font-size:20px;
  line-height:35px;
  color:rgb(0, 188, 174);
  }
 

/* Navbar */
@media (min-width: 768px) {
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

@media (min-width: 768px) {
  .navbar{
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
}

.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
    flex-direction:row;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

@media (min-width: 768px) {
  .navbar-right {
    float: right !important;
  }
}

.navbar-text {
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
}
}

.navbar .navbar-brand {
  font-weight: 600;
  margin-top: 13px;
  margin-bottom: 13px;
  font-size: 20px;
}
.navbar-nav > li > a {
  margin: 6px 3px;
  padding: 6px 7px;
  text-align: center;
  min-width: 70px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.navbar-brand{
  padding: 20px 15px;
}

.navbar .navbar-nav p{
  margin: 0px;
  font-size: 14px;
}

[class*="navbar-green-blue"] .navbar-nav > .active > a, [class*="navbar-green-blue"] .navbar-nav > .active > a:hover, [class*="navbar-green-blue"] .navbar-nav > li > a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  opacity: 1;
}

.navbar.navbar-green-blue {
  background: linear-gradient(45deg, rgb(0, 188, 174), rgb(0, 143, 173));
  padding:0rem
}